.container {
  height: calc(
    100vh - var(--big-screen-header-height) - var(--big-screen-footer-height)
  );
  min-width: var(--big-screen-header-width);
  padding-top: 20px;
  padding-left: 22px;
}
