.container {
  min-width: 100px;
  min-height: 70px;
  background: transparent;
  padding: 20px;
  text-transform: capitalize;
  letter-spacing: var(--letter-space);
  border: 0.5px solid var(--gray-0);
  color: var(--gray-2);
  transition: 1s;
  padding-bottom: 25px;
  &:hover {
    letter-spacing: var(--letter-space-more);
    border-radius: 5px;
  }
}
